<div class="card">
    <div class="card-header">
        <h3 class = "card-title">
        <%= text_post.title %>
        </h3>
    </div>


    <div class="card-body">
        <p><em> By <%= text_post.user.name %></em></p>
   

            <%= text_post.body %>
        </div>
    </div>
